<div style="margin-top: 100px;">
    <h1 id="loginpagetitle">Your trips</h1>

    {{#each parks as |park| }}

    <div class="grid-container">
        <div class='park-section'>
            <h4>{{park.name}}</h4>
            {{!-- <h4>Park Name</h4> --}}
            {{!-- <a href="/journal/{{park.id}}"> --}}
            <img class="park-image" src="/assets/{{park.filename}}" alt="park"></a>
        </div>
    </div>
        {{/each}}

        {{!-- <div class="div3">{{parks[1].name}}
            <img src="../public/assets/grand-canyon.jpg" alt="park">
        </div>
        <div class="div4">{{parks[2].name}}
            <img src="../public/assets/rocky-mountain.jpg" alt="park">
        </div>
        <div class="div5">{{parks[3].name}}
            <img src="../public/assets/zion.jpg" alt="park">
        </div>
        <div class="div6">{{parks[4].name}}
            <img src="../public/assets/yosemite.jpg" alt="park">
        </div>
        <div class="div7">{{parks[5].name}}
            <img src="../public/assets/yellowstone.jpg" alt="park">
        </div>
        <div class="div8">{{parks[6].name}}
            <img src="../public/assets/acadia.jpg" alt="park">
        </div>
        <div class="div9">{{parks[7].name}}
            <img src="../public/assets/grand-teton.jpg" alt="park">
        </div>
        <div class="div10">{{parks[8].name}}
            <img src="../public/assets/olympic.jpg" alt="park">
        </div>
        <div class="div11">{{parks[9].name}}
            <img src="../public/assets/glacier.jpg" alt="park">
        </div>
        <div class="div12">{{parks[10].name}}
            <img src="../public/assets/joshua-tree.jpg" alt="park">
        </div>
        <div class="div13">{{parks[11].name}}
            <img src="../public/assets/bryce-canyon.jpg" alt="park">
        </div>
        <div class="div14">{{parks[12].name}}
            <img src="../public/assets/cuyahoga-valley.jpg" alt="park">
        </div>
        <div class="div15">{{parks[13].name}}
            <img src="../public/assets/gateway-arch.jpg" alt="park">
        </div>
        <div class="div16">{{parks[14].name}}
            <img src="../public/assets/indiana-dunes.jpg" alt="park">
        </div> --}}
 </div> 

<script src="/js/park.js"></script>
