<div>
  <img class="background-img" id="random-images" alt="random image" />
  <h1 class="title text-center">Terrain of Thought</h1>
  <h2 class="subtitle text-center">A National Park Digital Journal</h2>
</div>

<body style="background-color: #064a11;">
    <h1 id="loginpagetitle">Your trips</h1>

    <div class="grid-container">
        <div class="div2" style="width: 100px; height: 100px;">{{park.parkname[0]}}
            <img src="../public/assets/great-smokey-mountains.jpg" alt="park">
        </div>
        <div class="div3" style="width: 100px; height: 100px;">{{park.parkname[1]}}
            <img src="../public/assets/grand-canyon.jpg" alt="park">
        </div>
        <div class="div4" style="width: 100px; height: 100px;">{{park.parkname[2]}}
            <img src="../public/assets/rocky-mountain.jpg" alt="park">
        </div>
        <div class="div5" style="width: 100px; height: 100px;">{{park.parkname[3]}}
            <img src="../public/assets/zion.jpg" alt="park">
        </div>
        <div class="div6" style="width: 100px; height: 100px;">{{park.parkname[4]}}
            <img src="../public/assets/yosemite.jpg" alt="park">
        </div>
        <div class="div7" style="width: 100px; height: 100px;">{{park.parkname[5]}}
            <img src="../public/assets/yellowstone.jpg" alt="park">
        </div>
        <div class="div8" style="width: 100px; height: 100px;">{{park.parkname[6]}}
            <img src="../public/assets/acadia.jpg" alt="park">
        </div>
        <div class="div9" style="width: 100px; height: 100px;">{{park.parkname[7]}}
            <img src="../public/assets/grand-teton.jpg" alt="park">
        </div>
        <div class="div10" style="width: 100px; height: 100px;">{{park.parkname[8]}}
            <img src="../public/assets/olympic.jpg" alt="park">
        </div>
        <div class="div11" style="width: 100px; height: 100px;">{{park.parkname[9]}}
            <img src="../public/assets/glacier.jpg" alt="park">
        </div>
        <div class="div12" style="width: 100px; height: 100px;">{{park.parkname[10]}}
            <img src="../public/assets/joshua-tree.jpg" alt="park">
        </div>
        <div class="div13" style="width: 100px; height: 100px;">{{park.parkname[11]}}
            <img src="../public/assets/bryce-canyon.jpg" alt="park">
        </div>
        <div class="div14" style="width: 100px; height: 100px;">{{park.parkname[12]}}
            <img src="../public/assets/cuyahoga-valley.jpg" alt="park">
        </div>
        <div class="div15" style="width: 100px; height: 100px;">{{park.parkname[13]}}
            <img src="../public/assets/gateway-arch.jpg" alt="park">
        </div>
        <div class="div16" style="width: 100px; height: 100px;">{{park.parkname[14]}}
            <img src="../public/assets/indiana-dunes.jpg" alt="park">
        </div>
        </div>

<script src="./public/js/script.js"></script>
